/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  height: 100wh;
  margin: 0 auto;
  font-family: 'PingFangTC-Regular', sans-serif;
  background: #f7f7f7;
}

.header {
  height: 400px;
  background: url("../../img/Hero.png") no-repeat center/cover;
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-size: 2.8rem;
  color: #fff;
  text-align: center;
  padding: 90px 0px;
  letter-spacing: 5px;
}

.header .selectArea {
  margin: 0 auto;
}

.header .selectArea select {
  width: 450px;
  border: 3px solid #fff;
  background: #fffFFF99;
  padding: 5px 5px;
  font-size: 1.2rem;
  appearance: none;
  background: url("../../img/icons_down.png") rgba(255, 255, 255, 0.7) no-repeat 97% center;
}

.content {
  position: relative;
  min-height: calc(100vh - 530px);
}

.content .hotarea {
  position: relative;
  top: -45px;
  max-width: 800px;
  box-shadow: 0 1px 3px 0 #00000033;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 5px;
  padding: 18px 0px;
}

.content .hotarea h3 {
  font-size: 1.3rem;
  padding: 5px 0px 13px 25px;
}

.content .hotarea .list {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

@media (max-width: 767.98px) {
  .content .hotarea .list {
    margin-left: 0px;
    justify-content: space-between;
    padding: 0px 20px;
  }
}

.content .hotarea .list .hotzone {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  background: #8A82CC;
  border-radius: 5px;
  margin-left: 30px;
  text-align: center;
  padding: 16px 40px;
  color: #ffffff;
  font-size: 1.3rem;
}

@media (max-width: 767.98px) {
  .content .hotarea .list .hotzone {
    margin-left: 0px;
    padding: 16px 20px;
  }
}

.content .hotarea .list .hotzone:nth-child(2) {
  background: #FFA782;
}

.content .hotarea .list .hotzone:nth-child(3) {
  background: #F5D105;
}

.content .hotarea .list .hotzone:nth-child(4) {
  background: #559AC8;
}

.content .hotarea .list .hotzone:hover {
  color: #424242;
}

.content .divider {
  position: relative;
}

.content .divider:before, .content .divider::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  margin: auto;
}

.content .divider::before {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f7f7f7;
  border: 3px solid #559AC8;
  outline: 7px solid #f7f7f7;
}

.content .divider::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  margin: auto;
  width: 0px;
  border-top: 9px solid #559AC8;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.content .hotspot {
  border-top: 1px dashed #559AC8;
  margin: 0px auto;
  max-width: 1000px;
}

@media (max-width: 991.98px) {
  .content .hotspot {
    width: 100%;
  }
}

.content .hotspot .zone-title {
  font-size: 2rem;
  text-align: center;
  margin: 30px 0px 20px;
  color: #8A82CC;
}

.content .hotspot .card-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content .hotspot .card-item {
  box-sizing: border-box;
  width: 47%;
  box-shadow: 0 1px 3px 0 #00000033;
  margin: 15px 5px;
  background: #FFFFFF;
  border-radius: 5px;
  transition: all 1s;
  opacity: 0;
  transform: translateY(50px);
}

@media (max-width: 767.98px) {
  .content .hotspot .card-item {
    width: 100%;
    margin-left: 13px;
    margin-right: 13px;
  }
}

.content .hotspot .card-item.active {
  opacity: 1;
  transform: translateY(0);
}

.content .hotspot .card-item:hover {
  transform: translateY(-10px);
}

.content .hotspot .card-item .card-header {
  padding: 16px 24px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 155px;
  color: #FFFFFF;
  text-decoration: none;
  background: transparent no-repeat center/ 105%;
  transition: all 1s;
}

.content .hotspot .card-item .card-header h4 {
  font-size: 1.5rem;
}

.content .hotspot .card-item .card-header:hover {
  background-size: 135%;
}

.content .hotspot .card-item .card-body {
  padding: 16px 24px;
}

.content .hotspot .card-item .card-body img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-right: 8px;
}

.content .hotspot .card-item .card-body a {
  text-decoration: none;
  color: #000;
}

.content .hotspot .card-item .card-body li {
  display: flex;
  margin: 10px 0px;
}

.content .hotspot .card-item .card-body li:last-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.content .hotspot .card-item .card-body .ticket-info {
  width: 100px;
  display: flex;
}

.content .hotspot .pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.content .hotspot .pagination a, .content .hotspot .pagination span {
  text-decoration: none;
  color: #424242;
  margin: 0 2px;
  padding: 0px 3px;
  border-radius: 10px;
  transition: .2s;
}

.content .hotspot .pagination a:hover {
  color: #424242;
  background-color: #559AC8;
}

.content .hotspot .pagination a.active, .content .hotspot .pagination span.active {
  color: #559AC8;
  background-color: transparent;
  position: relative;
}

.content .hotspot .pagination .unlink {
  color: #bbbbbb;
}

@media (max-width: 700px) {
  .content .hotspot .pagination .link.hidden {
    display: none;
  }
}

.footer {
  margin-top: 30px;
  height: 100px;
  background: #559AC8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer h4 {
  color: #fff;
}

.footer small {
  color: #FFD366;
}

.footer small a {
  color: #FFD366;
  text-decoration: none;
}

#goTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#goTop:hover {
  animation: goTop .7s infinite linear;
}

@keyframes goTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */