@import '_reset';
.wrap {
  height: 100wh;
  margin: 0 auto;
  font-family: 'PingFangTC-Regular', sans-serif;
  background: #f7f7f7;
}

.header {
  height: 400px;
  background: url("../../images/Hero.png") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 2.8rem;
    color: #fff;
    text-align: center;
    padding: 90px 0px;
    letter-spacing: 5px;
  }

  .selectArea {
    margin: 0 auto;

    select {
      width: 450px;
      border: 3px solid #fff;
      background: #fffFFF99;
      padding: 5px 5px;
      font-size: 1.2rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("../../images/icons_down.png") rgba(255, 255, 255, 0.7) no-repeat 97% center;
    }
  }
}

.content {
  position: relative;
  min-height: calc(100vh - 530px);

  .hotarea {
    position: relative;
    top: -45px;
    max-width: 800px;
    box-shadow: 0 1px 3px 0 #00000033;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
    padding: 18px 0px;

    h3 {
      font-size: 1.3rem;
      padding: 5px 0px 13px 25px;
    }

    .list {
      display: flex;
      justify-content: flex-start;
      margin-left: 20px;

      @media (max-width: 767.98px) {
        margin-left: 0px;
        justify-content: space-between;
        padding: 0px 20px;
      }

      .hotzone {
        display: block;
        text-decoration: none;
        box-sizing: border-box;
        background: #8A82CC;
        border-radius: 5px;
        margin-left: 30px;
        text-align: center;
        padding: 16px 40px;
        color: #ffffff;
        font-size: 1.3rem;

        @media (max-width: 767.98px) {
          margin-left: 0px;
          padding: 16px 20px;
        }

        &:nth-child(2) {
          background: #FFA782;
        }

        &:nth-child(3) {
          background: #F5D105;
        }

        &:nth-child(4) {
          background: #559AC8;
        }

        &:hover {
          color: #424242
        }
      }
    }
  }

  .divider {
    position: relative;

    &:before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: auto;
    }

    &::before {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #f7f7f7;
      border: 3px solid #559AC8;
      outline: 7px solid #f7f7f7;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: auto;
      width: 0px;
      border-top: 9px solid #559AC8;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
  }

  .hotspot {
    border-top: 1px dashed #559AC8;
    margin: 0px auto;
    max-width: 1000px;

    @media (max-width: 991.98px) {
      width: 100%;
    }

    // padding: 0px 8%;
    .zone-title {
      font-size: 2rem;
      text-align: center;
      margin: 30px 0px 20px;
      color: #8A82CC;
    }

    .card-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .card-item {
      box-sizing: border-box;
      width: 47%;
      box-shadow: 0 1px 3px 0 #00000033;
      margin: 15px 5px;
      background: #FFFFFF;
      border-radius: 5px;
      transition: all 1s;
      opacity: 0;
      transform: translateY(+50px);

      @media (max-width: 767.98px) {
        width: 100%;
        margin-left: 13px;
        margin-right: 13px;
      }

      &.active {
        opacity: 1;
        transform: translateY(0);
      }

      &:hover {
        transform: translateY(-10px);
      }

      .card-header {
        padding: 16px 24px;
        height: 180px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 155px;
        color: #FFFFFF;
        text-decoration: none;
        background: transparent no-repeat center/ 105%;
        transition: all 1s;

        h4 {
          font-size: 1.5rem;
        }

        &:hover {
          background-size: 135%;
        }
      }

      .card-body {
        padding: 16px 24px;

        img {
          width: 18px;
          height: 18px;
          object-fit: contain;
          margin-right: 8px;
        }

        a {
          text-decoration: none;
          color: #000;
        }

        li {
          display: flex;
          margin: 10px 0px;
        }

        li:last-of-type {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
        }

        .ticket-info {
          width: 100px;
          display: flex;
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      margin: 30px 0px;

      a,span {
        text-decoration: none;
        color: #424242;
        margin: 0 2px;
        padding: 0px 3px;
        border-radius: 10px;
        transition: .2s;
      }

      a:hover {
        color: #424242;
        background-color: #559AC8;
      }

      a.active,span.active {
        color: #559AC8;
        background-color: transparent;
        position: relative;
      }

      .unlink {
        color: #bbbbbb;
      }

      @media (max-width: 700px) {
        .link.hidden {
          display: none;
        }
      }
    }
  }
}

.footer {
  margin-top: 30px;
  height: 100px;
  background: #559AC8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h4 {
    color: #fff;
  }

  small {
    color: #FFD366;

    a {
      color: #FFD366;
      text-decoration: none;
    }
  }
}

#goTop {
  position: fixed;
  bottom: 50px;
  right: 50px;

  &:hover {
    animation: goTop .7s infinite linear;
  }
}

@keyframes goTop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}